/* Item Detail Page Styling */

  body::after{
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 190vh;
      background: linear-gradient(to top, rgb(63, 38, 35), transparent);
      z-index: -1; 
      pointer-events: none;
  }

  .drinkContainer{
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
  }
.drink-info {
    display: flex;
    height: 62vh;
    width: 60%;
}

.image-section {
    width: 30%;
    background-color: rgb(43, 43, 43);
    border-radius: 2ch;
    display: flex;
    align-items: center;
    justify-content: center;
}

.drink-detail-image{
    max-width: 90%;
    max-height: 90%;
    width: auto;
    height: auto;
    align-self: center;
    object-fit: contain;
    margin: 5% 0%;
    border-radius: 3ch;
    
}


.drink-data {
    box-sizing: border-box;
    width: 70%;
    background-color: rgb(39, 39, 39);
    border-radius: 2ch;
    padding: 0 5% 0 5%
}

.data, .rating, .price, .stock {
    color: white;
    font-family: Text Me One;
}
.name{
    font-family: Old Standard TT;
    font-size: 2.5rem;
    margin-bottom:15px;
    color: white;

}
.cart-button {
    color: white;
    background-color: rgb(170, 129, 129);
    border: none;
    border-radius: 1ch;
    width: 30%;
    height: 10%;
    margin-top:12px;
}
.cart-button:hover {
    background-color: rgba(222, 153, 153, 0.5);
    transition: all 0.2s ease;
}
.detail-title {
    font-family: Old Standard TT;
    color: white;
    margin-top: 5vh;
    text-align: center;
}

.item-details {
    display: flex;
    width: 50%;
    margin-left: 25%;
}

.detail-column1 {
    flex-grow: 1;
}

.detail-column2 {
    flex-grow: 1;
}

.details {
    margin-top: 4vh;
    color: white;
    font-family: Text Me One;
}

.details{
    transition: transform 0.3s;
}

.details:hover{
    transform: translateY(-5px);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}