/* Item Listing Page Styling */
.items-page {
    display: flex;
    margin: 0 10%;
}

.filter-side-bar {
    width: 20%;
    padding: 1ch;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* ?Temporary until put the image instead */
    margin-top: 10vh;
}

.items {
    width: 80%;
}

.filter-title {
    font-size: 2.5rem;
    color: white;
    margin: 0;
}

.side-bar-hr {
    width: 90%;
}

.filter-button {
    font-size: 1rem;
    padding: 1ch 0ch;
    margin-left: 10%;
    align-self: flex-start;
    color: white;
    background-color: black;
    border: none;
}

#country-filter > label {
    color: white;
}

#brand-filter > label {
    color: white;
}

#type-filter > label {
    color: white;
}

#search-bar {
    background-image: url(../images/svg/search.svg);
    background-repeat: no-repeat;
    background-position: 40% 50%;
    margin: 5vh 30%;
    width: 40%;
    height: 5vh;
    background-color: black;
    border: 2px solid gray;
    border-radius: 20ch;
}

#search-bar::placeholder {
    font-size: 1.5rem;
    text-align: center;
    color: white;
}

#item-listing {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    justify-items: center;
    row-gap: 5vh;
}

.item-container {
    display: flex;
    flex-direction: column;
    background-color: rgb(73, 73, 73);
    border-radius: 3ch;
    width: 75%;
    height: 50vh;
}

.drink-image {
    height: 65%;
    width: 100%;
}

.drink-name {
    text-decoration: none;
    color: white;
    font-size: 2rem;
    text-align: center;
    margin-bottom: 5%;
}

.drink-description {
    color: white;
    margin: 0;
    margin-left: 5%;
}

.drink-price {
    color: white;
    margin: 0;
    margin-left: 5%;
}

.add-to-cart-button {
    border: 6px solid black;
    border-radius: 2ch;
    background-color: rgb(73, 73, 73);
    color: gray;
    margin: 0 5%;
}

#item-listing > div {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: rgb(73, 73, 73);
    border-radius: 3ch;
    width: 75%;
    height: 50vh;
}

#item-listing > div > img {
    align-self: center;
    height: 50%;
    width: 60%;
    margin: 5% 0%;
    border-radius: 3ch;
}

#item-listing > div > a {
    text-decoration: none;
    color: white;
    font-size: 1.5rem;
    text-align: center;
    margin-bottom: 5%;
}

#item-listing > div > p {
    color: white;
    margin: 0;
    margin-left: 5%;
}

#item-listing > div > h1 {
    color: white;
    margin: 0;
    margin-left: 5%;
}

#item-listing > div > button {
    border: 6px solid black;
    border-radius: 2ch;
    background-color: rgb(73, 73, 73);
    color: gray;
    margin: 0 5% 5% 5%;
}