/* Item Listing Page Styling */
body::after{
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 190vh;
    background: linear-gradient(to top, rgb(63, 38, 35), transparent);
    z-index: -1; 
    pointer-events: none;
}

.items-page {
    display: flex;
    margin: 0 10%;
}

.filter-side-bar {
    width: 20%;
    padding: 1ch;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* ?Temporary until put the image instead */
    margin-top: 10vh;
}

.items {
    width: 80%;
}

.filter-title {
    font-size: 2.5rem;
    color: white;
    margin: 0;
}

.side-bar-hr {
    width: 90%;
}

.filter-button {
    font-size: 1rem;
    padding: 1ch 0ch;
    margin-left: 10%;
    align-self: flex-start;
    color: white;
    background-color: transparent;
    border: none;
}

#country-filter > label {
    color: white;
}

#brand-filter > label {
    color: white;
}

#type-filter > label {
    color: white;
}

#btn-apply-filter {
    padding: 1ch 0;
    margin-top: 1vh;
    background-color: transparent;
    width: 80%;
    text-align: center;
    font-size: 1rem;
    color: white;
    border-radius: 3ch;
    border: 2px solid gray;
    align-self: center;
}

#search-bar {
    background-image: url(../data/images/search.svg);
    background-repeat: no-repeat;
    background-position: 40% 50%;
    margin: 5vh 30%;
    width: 40%;
    height: 4vh;
    background-color: transparent;
    border: 2px solid gray;
    border-radius: 20ch;
    color: white;
    font-size: 1.5rem;
}

#search-bar::placeholder {
    font-size: 1.5rem;
    text-align: center;
    color: white;
}

#item-listing {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    justify-items: center;
    row-gap: 5vh;
}

.item-container {
    display: flex;
    flex-direction: column;
    background-color: rgb(73, 73, 73);
    border-radius: 3ch;
    width: 75%;
    height: 50vh;
}

.drink-image {
    height: 65%;
    width: 100%;
}

.drink-name {
    text-decoration: none;
    color: white;
    font-size: 2rem;
    text-align: center;
    margin-bottom: 5%;
}

.drink-description {
    color: white;
    margin: 0;
    margin-left: 5%;
}

.drink-price {
    color: white;
    margin: 0;
    margin-left: 5%;
}

.add-to-cart-button {
    border: 6px solid black;
    border-radius: 2ch;
    background-color: rgb(73, 73, 73);
    color: gray;
    margin: 0 5%;
}

#item-listing > div {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: rgb(73, 73, 73);
    border-radius: 3ch;
    width: 75%;
    height: 50vh;
}

#item-listing > div > img {
    align-self: center;
    height: 50%;
    width: 60%;
    margin: 5% 0%;
    border-radius: 3ch;
}

#item-listing > div > a {
    text-decoration: none;
    color: white;
    font-size: 1.5rem;
    text-align: center;
    margin-bottom: 5%;
    padding: 0 5%;
}

#item-listing > div > p {
    color: white;
    margin: 0;
    margin-left: 5%;
}

#item-listing > div > h1 {
    color: white;
    margin: 0;
    margin-left: 5%;
}

#item-listing > div > button {
    border: 6px solid black;
    border-radius: 2ch;
    background-color: rgb(73, 73, 73);
    color: gray;
    margin: 0 5% 5% 5%;
}

#item-listing > div > button:hover {
    color: rgb(184, 184, 184);
    background-color: rgb(53, 52, 52);
}

/* Page Controls Styling */

.page-control {
    display: flex;
    width: 100%;
    justify-content: center;
}

/* Price Slider Styling */

#price-filter {
    display: flex;
    flex-direction: column;
    width: 80%;
    margin: 5% auto;
}

.price-slider {
    position: relative;
    min-height: 3ch;
}

.price-controls {
    position: relative;
    display: flex;
    justify-content: space-between;
    font-size: 1.2em;
    color: white;
}

/* Degree Slider Styling */

#degree-filter {
    display: flex;
    flex-direction: column;
    width: 80%;
    margin: 5% auto;
}

.degree-slider {
    position: relative;
    min-height: 3ch;
}

.degree-controls {
    position: relative;
    display: flex;
    justify-content: space-between;
    font-size: 1.2em;
    color: white;
}

#max-label {
    text-align: right;
}

input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    pointer-events: all;
    width: 1.2em;
    height: 1.2em;
    background-color: #fff;
    border-radius: 50%;
    box-shadow: 0 0 0 1px #C6C6C6;
    cursor: pointer;
}

input[type=range]::-moz-range-thumb {
    -webkit-appearance: none;
    pointer-events: all;
    width: 1.2em;
    height: 1.2em;
    background-color: #fff;
    border-radius: 50%;
    box-shadow: 0 0 0 1px #C6C6C6;
    cursor: pointer;  
}
  
input[type=range]::-webkit-slider-thumb:hover {
    background: #f7f7f7;
}
  
input[type=range]::-webkit-slider-thumb:active {
    box-shadow: inset 0 0 3px #387bbe, 0 0 9px #387bbe;
    -webkit-box-shadow: inset 0 0 3px #387bbe, 0 0 9px #387bbe;
}
  
input[type="number"] {
    text-align: center;
    background-color: black;
    color: white;
    width: 7ch;
    height: 2ch;
    font-size: 1em;
    border-radius: 1ch;
    border: 2px solid gray;
    padding-right: 1ch;
}
  
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button {  
     opacity: 1;
}
  
input[type="range"] {
    -webkit-appearance: none; 
    appearance: none;
    height: 2px;
    width: 100%;
    position: absolute;
    background-color: #C6C6C6;
    pointer-events: none;
}
  
#min-price {
    height: 0;
    z-index: 1;
}

/* Animation Styling */

.hidden {
    opacity: 0;
    transition: all 1s;
}

.show {
    opacity: 1;
}