

.login-page {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10ch;
}

.login-signup-nav {
    display: flex;
    
    align-items: center;
   

}

.login-signup-nav a {
    padding: 0px 20px 0px 20px;
    text-decoration: none;
    color: white;
}

.login-signup-nav a:hover {
    color: rgb(231, 225, 225);
    transition: 0.5s;
}

#login {
    padding: 2ch 5ch 5ch 5ch;
    border-radius: 15px;
}

#email,
#password {
    padding: 1ch 2ch;
    border-radius: 5px;
    border: 1px solid white;
    background-color: black;
    color: white;
}

h1 {
    font-family: Faunces;
    color: white;
}

label {
    color: white;
    font-family: Text-Me-One, sans-serif;
    font-size: small;
}