.login-page {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10ch 0ch 0ch 0ch;
}

.login-signup-nav {
    display: flex;
    align-items: center;
    justify-content: center;
}

.login-signup-nav a {
    padding: 0px 20px 0px 20px;
    text-decoration: none;
    color: white;
}

.login-signup-nav a:hover {
    color: rgb(231, 225, 225);
    transition: 0.5s;
}

#login {
    padding: 2ch 5ch 5ch 5ch;
    border-radius: 15px;
}

#first-name,
#last-name,
#email,
#confirm-email,
#phone,
#dob,
#address,
#country,
#region,
#city,
#postal-code,
#password,
#confirm-password {
    padding: 1ch 2ch;
    border-radius: 5px;
    border: 1px solid white;
    background-color: black;
    color: white;
}



.form-row {
    display: flex;
    align-items: center;
    margin-bottom: 1ch;
}

.form-group {
    padding: 0ch 4ch 0ch 2ch;
    margin-bottom: 1ch;
}


input[type="date"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #a3c2c2;
    border-radius: 4px;
    background-color: white;
    color: #333;
    font-size: 14px;
}

h1 {
    font-family: Faunces;
    color: white;
}